<ion-header class="ion-no-border">
 
  <ion-list lines="none">
    <img src="../../../assets/imgs/background_food.jpg" alt="">
    <!-- <ion-item color="tertiary">
      <ion-icon slot="start" name="render-two"></ion-icon>
    
    </ion-item>
    <ion-item color="tertiary">
      
    </ion-item> -->
 
  </ion-list>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 20%;">
    <ion-col>
      <ion-row style="text-align: center;">
        <ion-input  fill="solid" placeholder="Digite seu e-mail"></ion-input>
      </ion-row>
      <ion-row style="text-align: center;margin-top: 25px;">
        <ion-input  fill="solid" type="password" placeholder="Digite sua senha"></ion-input>
      </ion-row>
    </ion-col>
  </ion-grid>
  <ion-row style="display: flex;justify-content: center;">
    <ion-button style="text-align: center;" color="secondary">
      <span style="font-weight: 900; color: #ffff;" (click)="navigateCtrl()">Entrar</span>
    </ion-button>
  </ion-row>
  <ion-row style="display: flex;justify-content: center;">
    <p><span style="font-weight: 700;">Realizar cadastro </span> <span style="font-weight: 800;color:#e0681e ;">Cadastro!</span></p>
  </ion-row>
  <ion-row style="display: flex;justify-content: center;">
    <p><span style="font-weight: 700;">Esqueci minha </span> <span style="font-weight: 800;color:#3880ff ;">Senha</span></p>
  </ion-row>
</ion-content>
